body {
  background-color: #40798C;
}

.top-half {
  background: radial-gradient(circle, #40798C, #5AB1BB, aqua);
  padding: 40px;;
  margin: -8px;
}

.bottom-half {
  background: linear-gradient(aqua, #40798C);
  padding: 40px;
  margin: -8px;
}

h1, h2 {
  margin: auto;
  text-align: center;
  font-family: 'Cormorant Garamond:700', serif;
}

h1 {
  font-size: 3em;
}

section {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

article {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#lock1,
#lock2,
#lock3,
#lock4,
#lock5 {
  background-image: url('./assets/002-padlock-1.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.color {
  height: 300px;
  width: 150px;
  border-radius: 10px;
  background-image: url('./assets/001-padlock.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.color:hover {
  outline: none;
  border-color: black;
  box-shadow: 0 0 20px black;
}

.random-palette-button {
  height: 50px;
  width: 350px;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Cormorant Garamond:700', serif;
}

.random-palette-button:hover  {
  outline: none;
  border-color: black;
  box-shadow: 0 0 20px black;
}

.new-palette {
  display: flex;
  justify-content: center;
}

.save-palette {
  display: flex;
  justify-content: center;
}

.palette-name-input {
  margin-left: 10px;
  margin-right: 10px;
}

.new-project {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.new-project-input {
  margin-right: 10px;
}
